In [2]:
i=0
while i<11:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [28]:
for i in range(1,6):
    for j in range(1,i+1):
        print (j,end='')
    print("")

1
12
123
1234
12345

In [38]:
n=int(input())
sum=0
for i in range(1,n+1):
    
    sum=i+sum
print(sum)

6
21

In [43]:
n=int(input())
print("Table -->>> : ")
for i in range(1,11):
    
    print(i*n)

4
Table -->>> :
4
8
12
16
20
24
28
32
36
40

In [48]:
lst = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for num in lst:
    if num <=150:
        if num %5==0:
            print(num)

15
55
75
150

In [72]:
num=75896
count=0
while num!=0:
    num=num//10
    count+=1
print("Number of digit",count)

Number of digit 5

In [103]:
for i in reversed(range(1,6)):
    for j in reversed(range(1,i+i)):
        print(j,end="")
    print("")

987654321
7654321
54321
321
1

In [104]:
for i in reversed(range(1,6)):
    for j in reversed(range(1,i+1)):
        print(j,end="")
    print("")

54321
4321
321
21
1

In [123]:
list1 =[10, 20, 30, 40, 50]
lst=[]
for i in reversed(range(len(list1))):
    lst.append(list1[i])
print(lst)

[50, 40, 30, 20, 10]

In [120]:
a=[1,2,3]
# a.append(5)
# a
lst=[]
for i in reversed(range(len(a))):
    lst.append(a[i])
print(lst)

[3, 2, 1]

In [128]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [177]:
start,end=-5,20
for num in range(start,end):
    if num >1:
        for i in range(2,num):
            if (num%i)==0:
                break
        else: 
            print(num)
    else:
        print("Not Prime",num)

Not Prime -5
Not Prime -4
Not Prime -3
Not Prime -2
Not Prime -1
Not Prime 0
Not Prime 1
2
3
5
7
11
13
17
19

In [172]:
num=50
for i in range(2,num):
    if (num %i)==0:
        print("Not Prime")
        break
else:
    print("prime")

Not Prime

In [196]:
n=6 # 1,2,3,5,8,13
a=1
b=2
print("fibonacci series : ",a,b,end=" ")
while (n-2)>0:
    c=a+b
    print(c,end=" ")
    a=b
    b=c
    n=n-1

fibonacci series :  1 2 3 5 8 13

In [202]:
n=int(input("Enter the input : "))
fact=1
for i in range (1,n+1):
    fact=fact*i
print("factorial : {}".format(fact))

Enter the input : 5
factorial : 120

In [215]:
num=int(input("enter number : "))
print("Reverse number is : ",end="")
while num>0:
    a=num%10
    print(a,end="")
    num=num//10

enter number : 12345
Reverse number is : 54321

In [235]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# len(my_list)
for i in range(len(my_list)):
    if i>0:
        if i%2!=0:
            print(my_list[i])

20
40
60
80
100

In [232]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(len(my_list)):
    print(my_list[i])

10
20
30
40
50
60
70
80
90
100

In [246]:
n=int(input("enter the number : "))
print("Cubes are : ",end="")
for i in range(1,n+1):
    cube=i**3
    print(cube,end=",")

enter the number : 5
Cubes are : 1,8,27,64,125,

In [261]:
# 2+22+222+2222.....n
n=int(input("number of terms : "))
start=2
sum=0
print("Series is : ",end="")
for i in range(0,n):
    print(start,end=" ")
    sum=sum+start
    start=(start*10)+2
print("\nSum of above series={}".format(sum))

number of terms : 4
Series is : 2 22 222 2222
Sum of above series=2468

In [278]:
for i in range(6):
    for j in range(1,i+1):
        print("*",end=" ")
    print("")  
    
    
for i in reversed(range(1,6)):
    
    for k in reversed(range(1,i)):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [279]:
a,b=12,5
if a+b:
    print(True)
else:
    print(False)

True

In [304]:
var=10
for i in range(1):
    for j in range(2,10):
        if var%2==0:
            continue
        
    var=var+1    
print(var)

10

In [289]:
for i in range(1):
    print(i)

0

In [ ]:
2,3,4,5,6,7,8,9---8
0->>10
2-->10->>==11
3-->>11 out
1-->>12 
4-->>in 12--==13
5-->>out
2-->>14
6-->>14 -==15
7--15 -out
3->>16
8-->16==17
9-->17 out
4-->18

In [287]:
var = 10
for i in range(10):
    for j in range(2, 10, 1):
        if var % 2 == 0:
            continue
            var += 1
    var+=1
else:
    var+=1
print(var)

21

In [328]:
num=10
for i in range(10):
    for i in range(2,10):
        if num%2==0:
            continue
            num=num+1
    num=num+1        

print(num)

20

In [329]:
num=10
for i in range(10):
    num=num+1
print(num)

20